<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="address" class="com.com.nik.pojo.Address">
        <property name="address" value="杭州市"/>
    </bean>

    <bean id="student" class="com.com.nik.pojo.Student">
        <!--1,普通值注入-->
        <property name="name" value="倪克成"/>
        <property name="address" ref="address"/>
        <property name="books">
            <array>
                <value>西游记</value>
                <value>红楼梦</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <property name="hobbies">
            <list>
                <value>看书</value>
                <value>敲代码</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="身份证" value="330382199809222838"/>
                <entry key="手机号" value="18357715732"/>
            </map>
        </property>
        <property name="games">
            <set>
                <value>lol</value>
                <value>ow</value>
            </set>
        </property>
        <property name="wife" value=""/>
        <property name="info">
            <props>
                <prop key="admin">admin</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
</beans>